:root {
    --bg: #0d0d25;
    --dark: #0F0F0F;
    --btn-blue: #3891A6;
    --accent: #F01428;
    --text-white: #FBFBFB;
  }

.login-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-error {
  color: var(--accent);
  margin-bottom: 10px;
}