html, body, #root {
  height: 100%;
  width: 100%;
  background-image: url('./background-airline.jpg');
  background-position: center;
  background-size: cover;
<<<<<<< HEAD
  
  
=======
>>>>>>> a514cc80d03cb6380c08cbf0a9621a096ab270f6
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  
}
